/**
 * == Contact ==
 */
 .contact {
	.content-inner-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.social-media {
		display: flex;
		margin-bottom: 50px;

		li {
			list-style: none;
			margin-right: 10px;
			transform: scale(0);
			transition: transform .1s ease-in;

			a {
				display: block;
				padding: 10px;
				text-decoration: none;
			}
		}
	}

	.contact-detail {
		display: flex;
		align-items: center;
		transform: scale(0) rotateY(-35deg);
		transition: transform .4s ease-in;
	}

	.email-contact {
		display: flex;
		align-items: center;

		p {
			margin-right: 5px;
		}

		a {
			display: inline-block;
			padding: 0 6px;
			text-decoration: none;
		}
	}

	.messenger-contact {
		display: flex;
		align-items: center;
		margin-left: 20px;

		p {
			margin-right: 5px;
		}
		a {
			display: inline-block;
			padding: 0 6px;
			text-decoration: none;
		}
	}

	.blog-detail {
		margin-top: 15px;
		opacity: 0;
		transition: opacity 1.2s ease-in;

		.blog-link {
			margin-right: 10px;
		}

		p {
			display: flex;
			align-items: center;
		}
		a {
			margin-left: 8px;
			text-decoration: none;
		}
	}

}
