/**
 * == Experience ==
 */
.content-wrapper.show-content {
	.job-wrapper {
		margin-bottom: 120px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 45px;
	}
}

 .job-detail {
	opacity: 0;
	transition: opacity .8s;

	&:first-child {
		grid-column: 1 / span 2;
		background-color: rgba(14, 21 ,40, .1);
		padding: 15px;
		border-radius: 5px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.designation {
		display: flex;
		margin-bottom: 10px;
		align-items: center;

		h6, span {
			font-size: 12px;
			margin-top: 4px;
			margin-left: 6px;
			color: #e09caa;
		}
		span svg {
			fill: #fdbcc9;
		}
	}

	.work-duration {
		font-size: 12px;
		color: #595959;
	}

	.responsibilities {
		margin-top: 18px;

		ul {
			padding-left: 25px;
		}
		li {
			font-size: 14px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}
