/**
 * == Global ==
 *	Default
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::-moz-selection {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
::selection {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
body.page-template-custom-front-page {
	background-color: #000318;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
}

.body-bg-image {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

/**
 * == Global ==
 *	Typography
 */
h1 {
	font-size: 32px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 23px;
}
h4 {
	font-size: 21px;
}

p {
	font-size: 16px;
}

/**
 * == Global ==
 *	Sections Common
 */
.content-wrapper {
	width: 0;
	height: 0;
	color: #272727;
	overflow: hidden;
	bottom: -300px;
	transform-origin: 50% 50%;
	transform: rotateX(8deg) rotateY(70deg) scale(1.25);
	transition: transform .5s, bottom .3s;
	box-shadow: 1px 2px 30px 1px rgba(0, 0, 0, 0.3);

	&.show-content {
		position: fixed;
		width: 75vw;
		height: 73vh;
		bottom: 50%;
		transform: rotateX(0deg) rotateY(0deg) translateY(50%) scale(1);
		backdrop-filter: blur(20px) saturate(120%);
		background-color: rgba(14, 21, 40, .7);
		color: #e5e5e5;
	}

	.content-inner-wrapper {
		&::-webkit-scrollbar-track {
			background-color: rgba(4, 13, 21, 0.1);
		}
	}

	.content-title {
		color: #fff;
		text-shadow: none;
	}
}

.context-menu {
	&.show {
		background-color: rgba(29, 36, 58, 0.4);
		backdrop-filter: blur(20px);
		border: 1px solid rgba(57, 74, 124, .3);
	}

	&__item {
		border-bottom: 1px dotted rgba(57, 74, 124, .3);
		&:hover {
			background-color: rgba(29, 36, 58, 0.5);
		}

		.title {
			color: #fff;
		}
	}
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(14, 21, 40, 0.2);
	padding: 0 20px;

	.content-title {
		font-size: clamp(20px, 4vw, 26px);
	}
}
.content-inner-wrapper {
	padding: clamp(25px, 4vw, 60px) clamp(25px, 6vw, 230px) 0;
	height: 100%;
	overflow-y: auto;

	::-webkit-scrollbar {
		display: block;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.1);
	}
	&::-webkit-scrollbar-thumb {
		background-color: #3c93eb;
		border-radius: 20px;
	}
}
.card-wrapper {
	margin-bottom: 100px;
}
.content-close {
	display: inline-block;
	cursor: pointer;
	padding: 12px 5px 12px 12px;
    
}
