/**
 * == Main Menu ==
 */
 .main-menu {
	position: fixed;
	bottom: 0;

	nav {
		position: absolute;
		left: 50%;
		bottom: 28px;
		transition: bottom .3s;
		transform: translateX(-50%);
	}
}

.main-menu__list {
	display: flex;
	justify-content: center;
    padding: 4px 15px;
    transition: transform .4s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        border-radius: 20px;
        backdrop-filter: blur(10px) saturate(120%);
        border: 1px solid rgba(253, 167, 162, .15);
        background-color: rgba(29, 36, 58, 0.32);
		background: rgba(254, 235, 238, .8);
		background: linear-gradient(90deg, rgba(148, 148, 148, 0.18) 0%, rgba(230, 181, 177, 0.3) 43%, rgba(253, 167, 162, 0.4) 100%);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.main-menu__item {
    display: flex;
	position: relative;
	list-style: none;
	cursor: pointer;
	// font-size: 50px;
	margin-right: 15px;
	color: #fff;
	transform: scale(1);
    transition: transform .4s ease-in-out;

    img {
        width: clamp(40px, 4vw, 60px);
        height: clamp(40px, 4vw, 60px);
        transition: transform .2s ease-in-out;
    }

    &.secondary-active {
        img {
            width: 68px;
            transform: scale(1.2) translateY(-10px);
        }
    }

	&.active::after {
		content: '';
		width: 8px;
		height: 8px;
		position: absolute;
		bottom: -8px;
		background-color: #fff;
		border-radius: 50%;
		left: 50%;
		transform: translateX(-50%);
	}

	&:last-child {
		margin-right: 0;
	}
	&:hover {
        img {
            width: 85px;
		    transform: scale(1.8) translateY(-15px);
        }
	}

	&-caption {
		display: none;

		&.show {
			display: block;
			position: absolute;
			top: -80px;
			left: calc(50% - 38px);
			z-index: 2;
			padding: 5px 8px;
			background-color: rgba(14,21,40,.5);
			border-radius: 5px;
			font-size: 14px;
			color: #c5c5c5;
		}
	}
}

.main-menu nav.menu-scale {
	bottom: 65px;
	transform: translateX(-50%) scale(1.4);
}

.nav-title {
	position: fixed;
	right: -100px;
	bottom: 30px;
	color: #fff;
	border-radius: 2px;
	box-shadow: 2px 1px 2px rgba(0, 0, 0, .7);
	transition: right .2s ease-in;
	background-color: rgba(71, 87, 145, 0.32);
	backdrop-filter: blur(5px);

	&.show-title {
		font-size: 18px;
		font-weight: 550;
		width: 100%;
		max-width: 215px;
		padding: 5px 0 5px 15px;
		right: 0;
		letter-spacing: 1px;
	}
}
