/**
 * == Mobile Device ==
 */
 @media (max-width: 767.95px) {
	.about {
		padding: 0 12px;
	}

	.content-wrapper.show-content {
		width: 95vw;
		height: 74vh;
		bottom: 54%;

		.content-header {
			padding: 0 10px 0 20px;
		}

		.content-inner-wrapper {

            .resume-wrapper {
                padding-top: 20px;

				img {
					max-width: 100%;
				}
            }
		}
		.card-wrapper {
			margin-bottom: 80px;
		}

		.job-wrapper {
			display: block;

			.job-detail {
				margin-bottom: 35px;
			}
		}
	}

	.main-menu {
		bottom: 10px;

		.main-menu__item {
			margin-right: 10px;

			&:hover {
				img {
                    width: 60px;
		            transform: scale(1.5) translateY(-10px);
                }
			}

			&:last-child {
				margin-right: 0;
			}

            &.secondary-active {
                img {
                    width: 50px;
                    transform: scale(1.2) translateY(-6px);
                }
            }
		}
	}

	.professional-skills {
		margin-bottom: 100px;
	}

	.portfolio {
		.card-wrapper {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 40px;
		}
		.work-card {
			position: relative;
			padding: 20px 15px;

			.work-media {
				position: absolute;
				top: 18px;
				right: 15px;

				img {
					width: 50px;
					height: 45px;
				}
			}
		}
	}

	.resume {
		.resume-download {
			top: 55px;
			right: 30px;
			padding: 5px 6px;

			svg {
                width: 30px;
                height: 30px;
            }
		}
	}

	.contact {
        .social-media {
            margin-bottom: 30px;
        }
		.contact-detail {
			flex-direction: column;
			align-items: flex-start;
		}
		.messenger-contact {
			margin-left: 0;
			margin-top: 12px;
		}
		.messenger-contact span {
			margin-left: 2px;
		}
		.blog-detail {
			margin-top: 20px;
		}
	}

	.main-menu {
        nav {
            bottom: 15px;
        }
		&.menu-scale nav {
			transform: scale(1.2);
		}
		.nav-title {
			display: none;
		}
	}
	
}
