/**
 * == Skills ==
 */
.professional-skills {
	opacity: 0;
	transition: opacity 2.4s;
}
.genarel-skills {
	opacity: 0;
	transition: opacity 3.7s;
}
.skill-title {
    font-size: 21px;
}
.content-detail {
	margin-top: 10px;
}

.skill-item {
	padding: 30px 35px;
	margin: 0 30px;
    background-color: rgba(255, 255, 255, 0.7);
	border-radius: 6px;
	box-shadow: 1px 2px 5px 1px rgba(203, 198, 198, 0.2);

	p {
		font-size: 15px;
		line-height: 1.68;
		margin-top: 10px;

		&:last-child {
			margin-top: 0;
		}
	}
	p:first-child {
		margin-top: 0;
	}
}
